# https://travis-ci.org/jschneier/django-storages/
dist: xenial
sudo: false
language: python

cache: pip

matrix:
  fast_finish: true
  include:
    - env: TOXENV=flake8
    - python: 2.7
      env: TOXENV=integration
    - python: 3.5
      env: TOXENV=integration
    - python: 2.7
      env: TOXENV=py27-django111
    - python: 3.4
      env: TOXENV=py34-django111
    - python: 3.5
      env: TOXENV=py35-django111
    - python: 3.6
      env: TOXENV=py36-django111
    - python: 3.7
      env: TOXENV=py37-django111
    - python: 3.4
      env: TOXENV=py34-django20
    - python: 3.5
      env: TOXENV=py35-django20
    - python: 3.6
      env: TOXENV=py36-django20
    - python: 3.7
      env: TOXENV=py37-django20
    - python: 3.5
      env: TOXENV=py35-django21
    - python: 3.6
      env: TOXENV=py36-django21
    - python: 3.7
      env: TOXENV=py37-django21
    - python: 3.6
      env: TOXENV=py36-djangomaster
    - python: 3.7
      env: TOXENV=py37-djangomaster
  allow_failures:
    - env: TOXENV=py36-djangomaster
    - env: TOXENV=py37-djangomaster

before_install:
  # Workaround Travis environment.
  - sudo rm /etc/boto.cfg

install:
  - pip install tox

script:
  - tox
